*{
    margin:0;
    padding:0;
}
.login .herD{
    width:100vw;
    padding:0.1rem 0;
    color:white;
    font-size: 0.4rem;
    background-color: orange;
    text-align: center;
    position: relative;
   
}
.login .herD .zec{
    position: absolute;
    width:1rem;
    right:0;
    top:0.1rem;
    color:white;
    font-size: 0.4rem;
}

input{
    width:5rem;
    height:1rem;
    border:none;
    background-color: #fafafa;
}

.login .inp{
    border-bottom:0.01rem solid #333333;
    width:6rem;
}
