*{
    padding:0;
    margin:0;
}

.nav{
    width:100vw;
    height:2rem;
}
.nav ul{
    width:100vw;
    height:2rem;
    display: flex;
    justify-content: space-evenly;
}

.nav ul li{
    width:1.5rem;
    height:2rem;
    list-style: none;
    text-align: center;
}
.nav ul li img{
    width:1.5rem;
    height:1.5rem;
}
.nav ul li p{
   font-size: 0.1rem;
}


