*{
    padding:0;
    margin:0;
}
body{
    background-color:#fafafa;
   
}
.box{
    width:100vw;
    height:6rem;
    /* background-color: yellow; */
   position: relative;
   overflow: hidden;
}
.box .top-s{
    display: flex;
    justify-content: space-evenly;
    height:2.8rem;
    background-color:orange;
    padding:0.2rem;
}
.box .top-s img{

    width:0.5rem;
    height:0.5rem;
}
.box .top-s p{
    font-size: 0.5rem;
    color:white;
    width:5rem;
    text-align: center;
}
.box .down-s{
    height:3rem;
    background-color: white;
}

.box .down-s .tu{
    width:2.5rem;
    height:2.5rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:100%;
    background-color: white;
}
.box .down-s .tu div{
    width:2.2rem;
    height:2.2rem;
    border-radius:100%;
    /* background-color: palegoldenrod; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.box .down-s .tu div img{
    width:100%;
    height:100%;
}
.box .down-s .name{
    position: absolute;
    top:4.6rem;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:100%;
    font-size: 0.35rem;
    color:#333333;
}
.box .down-s span{
    position: absolute;
     bottom:0.3rem;
    left:0.3rem;
    font-size: 0.4rem;
}
.box .down-s span img{
    margin-right:0.2rem;
    width:0.4rem;
    height:0.4rem;
}
.ding{
    width:100vw;
    height:3.1rem;
    background-color: white;
    margin-top:0.2rem;
  
}
.ding div{
    display:flex;
}
.ding div p{
   flex:1;
    font-size:0.4rem;
    text-align: center;
    padding:0.4rem 0;
    border-bottom:0.01rem solid black;
}
.ding div .chak{
    text-align: right;
    color:#666666;
}
.ding ul{
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    margin-top:0.4rem
}
.ding ul li{
    list-style: none;
    /* width:0.4rem; */
    text-align: center;

}
.ding ul li P{
    font-size: 0.3rem;
    color:#333333;
    /* text-align: center; */
}
.Smenu{
    width:95.5%;
    height:1rem;
    background-color:white;
    font-size:0.4rem;
    color:#333333;
    line-height:1rem;
    margin-top:0.2rem ;
    padding-left:0.3rem;
    overflow: hidden;
}